<div id="<%= dom_id product %>">
  <div id="product">
    <p>
      <strong>Nome:</strong>
      <%= product.name %>
    </p>

    <p>
      <strong>Descrição:</strong>
      <%= product.description %>
    </p>

    <p>
      <strong>Preço:</strong>
      <%= product.price %>
    </p>

    <p>
      <strong>Estoque:</strong>
      <%= product.stock %>
    </p>
  </div>
</div>
